@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WEBNHOM10.Models.HoaDon

@{
    ViewData["Title"] = "ThemHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaHoaDon</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaHoaDon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHoaDon" />
            <div class="form-group">
                <label asp-for="HanThanhToan" class="control-label"></label>
                <input asp-for="HanThanhToan" class="form-control" />
                <span asp-validation-for="HanThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" readonly/>
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ThongTinHoaDon">Back to List</a>
</div>


